<!DOCTYPE html>
<html>
  <head>
    <title>IntroduceSecondApp</title>
    <meta name="viewport" content="width=device-width,initial-scale=1">
    <%= csrf_meta_tags %>
    <%= csp_meta_tag %>

    <%= stylesheet_link_tag "application", "data-turbo-track": "reload" %>
    <%= javascript_importmap_tags %>
  </head>

  <body>
  <header class="header">
      <div class="header__bar row"> 
        <h1 class="grid-6"><a>introduce_second_app</a></h1>
        <div class="user_nav grid-6">
         <ul class='lists-right'>
         <% if user_signed_in? %>
           <li><%= link_to '作成する', new_comment_path, class: "introduce-user" %></li>
           <li><%= link_to current_user.nickname, comments_path, class: "user-nickname" %></li>
           <li><%= link_to 'ログアウト', destroy_user_session_path, data: { turbo_method: :delete }, class: "logout" %></li>
         <% else %>
           <li><%= link_to 'ログイン', new_user_session_path, class: "login" %></li>
           <li><%= link_to '新規登録', new_user_registration_path, class: "sign-up" %></li>
         <% end %>
          </ul>
        </div>
      </div>
    </header>
    <%= yield %>
    <footer>
      <p>
        Copyright introduce_second_app 2024.
      </p>
    </footer>
  </body>
</html>
